.HeroBackground {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(pexels-photo-5120144.jpg); */
  background-color: black;
  height: 90vh;
  padding: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  max-width: 1600px;
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 5rem 0;
}

.Container .Service {
  color: var(--secondary-color);
  text-align: center;
}

.Service Section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.Service h2 {
  padding-bottom: 2rem;
}

.Container .WhyDetail {
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 5rem 2rem;
}

.WhyDetail .WhyDetailText {
  max-width: 600px;
  width: 80%;
  min-width: 325px;
}

.Card {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.CardText {
  width: 80%;
}

.OptionCard {
  width: 200px;
  height: 200px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.OptionFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.Appointment h2 {
  padding: 1rem 0;
}

.Appointment h3 {
  padding: 1rem 0;
}

.Appointment h4 {
  padding: 5rem 0;
}

.border {
  border: #fff 2px solid;
  width: 80%;
  margin: 2rem 0;
  border-radius: var(--border-radius);
}
