.HeroContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.video {
  width: 110% !important;
  height: 120% !important;
  margin: auto;
  position: absolute;
  z-index: 1;
}

.DarkVideo {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.HeroBackground {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../assets/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 3;
  height: 100vh;
  padding: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 1rem; */
}

.Container {
  max-width: 1600px;
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 5rem 0;
}

.Service {
  padding: 5rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/Services.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-dark);
  text-align: center;
}

.Service .Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.Service .Card1 {
  background: rgb(29, 47, 209);
  /* border-radius: var(--border-radius); */
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  margin-top: 1rem;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  line-height: 1;
}
.Service .Card2 {
  background: rgb(255, 255, 255);
  color: #071d88;
  /* border-radius: var(--border-radius); */
  padding: 2rem;
  width: 100%;
  max-width: 675px;
  margin-top: 1rem;
  border-bottom: 2px solid #071d88;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.Card1 p {
  line-height: 1.5;
}

.Card2 p {
  line-height: 1.5;
}

.Service .Card3 {
  background: rgb(29, 47, 209);
  border-radius: var(--border-radius);
  padding: 1rem;
  width: 200px;
  margin-top: 1rem;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.Card div {
  width: 200px;
  margin: auto;
}

.Card ul {
  width: 50%;
  margin: auto;
  font-weight: 300;
  padding-top: 1rem;
}

.Card li {
  padding-top: 0.5rem;
}

.Quality {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/Quality2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-text-dark);
  text-align: center;
  min-height: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Quality .Container {
  max-width: 1200px;
  width: 90%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 55vh;
}

.SocialMedia {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/oldImages/Insta-Pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-text-dark);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SocialMedia .SocialMediaButton {
  /* border: #fff 1px solid; */
  border-radius: var(--border-radius);
  padding: 0.5rem 2.5rem;
  background: transparent;
  font-size: 24px;
  font-weight: 400;
}

.Appointment {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/Contact.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-text-dark);
  text-align: center;
  padding: 10rem 0;
}

.AppointmentFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: auto;
  max-width: 1600px;
  padding: 2rem 2rem 5rem 2rem;
}

/* .Appointment label {

} */

.Appointment section {
  max-width: 400px;
  min-width: 250px;
  width: 80%;
}

.OptionCard {
  width: 200px;
  height: 200px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.OptionFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.Appointment h2 {
  padding: 1rem 0;
}

.Appointment h3 {
  padding: 1rem 0;
}

.Appointment h4 {
  padding: 5rem 0;
}

.border {
  border: #fff 2px solid;
  width: 80%;
  margin: 2rem auto;
  border-radius: var(--border-radius);
}

.FooterCenter {
  width: 100%;
  text-align: center;
}

.FooterNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.FooterNav div {
  padding: 1rem 0;
}

footer .FooterNav a {
  font-size: 18px;
  padding: 0.5rem 0;
  line-height: 2;
  font-weight: 300;
}

.UnderConstruction {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10rem; */
  text-align: center;
  height: 70vh;
  color: var(--color-text-dark);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(
      25deg,
      #ffffff 40%,
      transparent 41%,
      transparent 59%,
      #ffffff 60%
    ),
    linear-gradient(
      90deg,
      transparent 45%,
      #071d88 45%,
      #071d88 55%,
      transparent 55%,
      transparent 20%,
      #071d88 20%,
      #071d88 30%,
      transparent 30%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
}

.AboutCard {
  background: var(--color-primary);
  color: var(--color-text-dark);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  max-width: 700px;
  text-align: center;
}

.AboutLeft {
  margin-left: 0;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}
.AboutLeft h2 {
  padding-bottom: 1rem;
}

.AboutRight {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  text-align: center;
}

.AboutRight h2 {
  padding-bottom: 1rem;
}

.ContactCustomerPhone {
  display: flex;
  flex-direction: row;
  border-left: 3px solid #071d88;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.ContactCustomerPhone h2 {
  padding-bottom: 0.25rem;
}

.ContactCustomerPhoneNumber {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ContactCustomerPhoneNumber h4 {
  padding-bottom: 0;
  padding-left: 1rem;
}

.ContactPhone {
  padding-left: 5%;
}

.ContactEmailH2 {
  margin-top: 2.5rem;
  border-left: 3px solid var(--color-primary);
  padding-left: 2rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.ContactForm {
  background: var(--color-primary);
  color: #fff;
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.ContactForm div {
  width: 100%;
  max-width: none;
}

.ContactForm button {
  margin: auto;
}

.NewTextarea {
  width: 500px;
}

.AboutMission {
  text-align: center;
  background: var(--color-primary-light);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  margin: 2rem auto 5rem auto;
  max-width: 1000px;
}

.AboutProfilePic {
  width: 250px;
  height: 250px;
  background: var(--color-primary);
  border-radius: 100%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin: 2rem auto 3rem auto;
}

.ServicesCardFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
}

.ServicesCard {
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2.5rem 1rem;

  max-width: 400px;
}

.ServicesCardPic {
  max-width: 400px;
  height: fit-content;
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.ServicesCardText {
  padding: 3rem 2rem;
  max-width: 800px;
  border-bottom: 2px solid var(--color-primary);
}

.ServicesCardText h2 {
  padding-bottom: 0.5rem;
}

.ServicesCardText p {
  line-height: 1.5;
  padding-bottom: 1rem;
}

.ServicesCardText ul {
  list-style-type: none;
}

.ServicesCardText li {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  .AppointmentFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    max-width: 1600px;
    padding: 1rem 1rem 5rem 1rem;
  }
  .ContactForm {
    background: var(--color-primary);
    color: #fff;
    width: 100%;
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .ContactForm div {
    width: 100%;
    max-width: none;
  }

  .NewTextarea {
    width: 100%;
  }
}
